<a href="https://colab.research.google.com/github/alvajanpaulmiguel/PLNG211QC/blob/main/Introduction_to_Python_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [ ]:
#This is an example of Python Indentation

In [6]:
if 5>2:
    print("5 is greater than 2")

5 is greater than 2

In [ ]:
x = 1   
a,b=0,-1
a = 9
c = "Sally"
c = "Danny"
print(a)
print(c)
print(c)
c = "Maria"

9
Danny
Danny

Casting

In [ ]:
d = int(4)
print(d)
e = float(4)
print(e)

4
4.0

Type () Function

In [ ]:
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>

Single Quote or Double Quote

In [ ]:
f="Maria"
print(f)
g = 'ana'
print(g)

Maria
ana

Multiple Variables

In [ ]:
x,y,z=4,5,7
print(x)
print(y)

4
5

Single Value to a Multiple Variables

In [ ]:
x=y=z="Lilo"
print(x)
print(y)
print(z)

Lilo
Lilo
Lilo

Output variable using Print and +

In [10]:
s="Python is"
t="Fun"
print("Python is"+"Fun")

print(s+t)

Python isFun
Python isFun

Arithmetic

In [ ]:
x = 1
y = 42
sum = x+y
x
y
sum
print(x)
print(y)
print(sum)

#modulo division
l = 4%2
print("4%2=",l)

k = 3//2
#floor division
print("4//2=",k)

1
42
43
4%2= 0
4//2= 1

Assignment Operator

In [ ]:
x+=1         #x = x + 1
print("x+=1 = ",x)

x+=1 =  4

Logical Operator

In [ ]:
q = 1
r = 4
r > q and r == r

True