<a href="https://colab.research.google.com/github/alvajanpaulmiguel/PLNG211QC/blob/main/Python_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
def convert_to_celcius(fahrenheit):
  return (fahrenheit - 32) * 5/9

def convert_to_kelvin(fahrenheit):
  return ((fahrenheit -32)*5/9) + 273.15
fahrenheit = int(input())

print("Celsius",round(convert_to_celsius(fahrenheit),2))
print("Kelvin",round(convert_to_kelvin(fahrenheit),2))

200
Celsius 182.22
Kelvin 366.48

In [14]:
def Name():
  pass

In [20]:
def my_function(fname):
  return(fname + "Sayo ")

my_function(" Mam")
my_function(" Maria")
my_function(" Rizette")

' \nRizetteSayo '

In [22]:
#Retruns a value

def myFunction(x):
  return(5 + x)
print(myFunction(4))
print(myFunction(5))
print(myFunction(6))

9
10
11